@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th hidden="">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContentBody)
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden="">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentBody)
                    </td>
                    <td>
                        <a asp-controller="Post" asp-action="Post" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>