@model Contact

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Details</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th hidden="">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td hidden="">
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Subject)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Message)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="AllContacts">Back to List</a>
</div>
